{% extends 'base.html' %}

{% block head %}
    
{% endblock %}

{% block body %}
<header class="header">
    <a href="#" class="logo">web designer</a>
    <nav class="nav-items">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="{{ url_for('login') }}" id="login" name = "login">Login</a>
      <a href="{{ url_for('signup') }}" id="signup" name = "signup">Signup</a>
    </nav>
</header>

<main>
    <div class="intro">
      <h1>Web designer</h1>
      <p>I am web designer</p>
    </div>
    
    <div class="about-me">
      <div class="about-me-text">
        <h2>About Me</h2>
        <p>I am Nighil.I started my career as Web designer in xyz company.Now I am a Senior web designer.</p>
      </div>
      <img src="static/images/srinighil.jpeg" alt="Nighil">
    </div>
</main>

<footer class="footer">
    <div class="copy">&copy; web designer</div>
    <div class="bottom-links">
      <div class="links">
        <a href="#">Home</a>
        <a href="#">profile</a>
        <a href="#">connect me</a>
      </div>
      <div class="links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
</footer>
{% endblock %}